html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(134,73,73);
    background: linear-gradient(114deg, rgba(134,73,73,1) 0%, rgba(63,112,122,1) 100%);
    position: relative;
}

#title {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 25px;
    text-align: center;
    user-select: none;
    background-color: rgba(240, 255, 255, 0.164);
}

#map {
    width: 750px;
    height: 425px;
    margin: 0 auto;
    position: relative;
    top: 55%;
    transform: translateY(-65%);
    border-color: rgba(27, 30, 30, 0.235);
    border-width: 13px;
    border-radius: 5px;
    border-style: solid;
}