html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(134,73,73);
    background: linear-gradient(114deg, rgba(134,73,73,1) 0%, rgba(63,112,122,1) 100%);
    position: relative;
}

h3 {
    margin-top: 10px;
}

#title {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    padding-left: 15px;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 18px;
    user-select: none;
    background-color: rgba(83, 87, 87, 0.29);
}

#map {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    float: right;
    right: 15px;
    position: relative;
    top: 57%;
    transform: translateY(-65%);
    border-color: rgb(83, 87, 87);
    border-width: 5px;
    border-radius: 0px;
    border-style: solid;
    padding: 0;
}

#info {
    width: 35%;
    height: 80%;
    margin: 0 auto;
    left: 15px;
    margin-right: 5px;
    position: relative;
    float: left;
    top: 57%;
    transform: translateY(-65%);
    border-color: rgba(27, 30, 30, 0.235);
    background-color: rgba(83, 87, 87, 0.29);
    border-width: 5px;
    border-radius: 0px;
    border-style: solid;
    padding: 0;
}

#p0 {
    display: block;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    margin: 0;
}

#p1 {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#p2 {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#p3 {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#p4 {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#p5 {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#layers {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: rgba(27, 30, 30, 0.235);
    padding: 6px;
    margin: 0;
}

#check {
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(62, 83, 76);
}

#uncheck {
    display: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(62, 83, 76);
}

#legend {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin-top: 0px;
}

#l1 {
    font-size: medium;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #ffcc66;
    margin: 5px;
    padding: 4px;
}

#l2 {
    font-size: medium;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #FFAC1C;
    margin: 5px;
    padding: 4px;
}

#l3 {
    font-size: medium;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #6E260E;
    margin: 5px;
    padding: 4px;
}

#l4 {
    font-size: medium;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #964B00;
    margin: 5px;
    padding: 4px;
}

#l5 {
    font-size: medium;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #EE4B2B;
    margin: 5px;
    padding: 4px;
}
