html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(134,73,73);
    background: linear-gradient(114deg, rgba(134,73,73,1) 0%, rgba(63,112,122,1) 100%);
    position: relative;
}

#title {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    padding-left: 15px;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 25px;
    user-select: none;
    background-color: rgba(240, 255, 255, 0.164);
}

#map {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    float: right;
    right: 15px;
    position: relative;
    /* display: inline-block; */
    top: 57%;
    transform: translateY(-65%);
    border-color: rgb(83, 87, 87);
    border-width: 5px;
    border-radius: 0px;
    border-style: solid;
    padding: 0;
}

#info {
    width: 35%;
    height: 80%;
    margin: 0 auto;
    left: 15px;
    margin-right: 5px;
    position: relative;
    float: left;
    top: 57%;
    transform: translateY(-65%);
    border-color: rgba(27, 30, 30, 0.235);
    background-color: rgba(83, 87, 87, 0.29);
    border-width: 5px;
    border-radius: 0px;
    border-style: solid;
    padding: 0;
}

#p1{
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#p2{
    display: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#p3{
    display: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#p4{
    display: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#p5{
    display: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}